/*** GENERAL ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(img/background.jpg) no-repeat top center/cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.red {
  color: red;
}
/*** CALCULATOR BODY ***/
div.main-wrapper {
  width: 50vw;
  height: 65vh;
  box-shadow: 3px 3px 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
div#top-area {
  background: rgba(154, 205, 50, 0.9);
  width: 100%;
  height: 7%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
div#top-area h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  padding: 0.8rem 0 0 0;
}
div#main-area {
  background: rgba(240, 240, 240, 0.9);
  height: 55%;
  display: flex;
  justify-content: center;
}

div#bottom-area {
  background: rgba(240, 240, 240, 0.9);
  height: 38%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
div#inputs-container {
  width: 70%;
  margin-top: 1px;
}
/*** INPUTS STYLING ***/
label {
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 1.6rem;
  font-size: 1.8rem;
}
input {
  width: 100%;
  height: 4rem;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.6rem;
  border-left: 1px solid #333;
}

input:focus {
  outline: none;
}
select {
  width: 100%;
  height: 4rem;
  border: none;
  font-size: 1.6rem;
  color: #333;
}
i {
  display: block;
  width: 4rem;
  text-align: center;
  color: #fff;
}
.icon-container {
  display: flex;
  align-items: center;
  background: yellowgreen;
  border: 1px solid #333;
  border-radius: 2px;
  margin-bottom: 2rem;
}
/*** DISPLAY-INFO AREA ***/
#display-info {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.info {
  text-align: center;
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #333;
}

.btn {
  display: block;
  width: 70%;
  height: 4rem;
  margin: auto;
  text-transform: uppercase;
  color: #333;
  background: yellowgreen;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid #333;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}

#reset {
  background: #ea9767;
}

#bottom-area {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  body {
    align-items: flex-start;
  }
  div.main-wrapper {
    width: 100vw;
    height: 85vh;
  }
  div#inputs-container {
    width: 90%;
  }
  #display-info {
    width: 90%;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1300px) {
  html {
    font-size: 55%;
  }
  div.main-wrapper {
    width: 75vw;
    height: 65vh;
  }
  div#inputs-container {
    width: 85%;
  }
  #display-info {
    width: 80%;
    font-size: 1.7rem;
  }
}
